@model monarch240.Models.DrPatient

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DrPatient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatTestNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatTestNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatDisk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatDisk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatBarcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatBarcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatCaseNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatCaseNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatAgeUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatAgeUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatBedNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatBedNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatSampleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatSampleType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatDilute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatDilute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatCupType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatCupType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatProfile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatSendingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatSendingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatTestingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatTestingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatTestTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatTestTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatDoctor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatDoctor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatChecker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatChecker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatAssessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatAssessor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatClinic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatClinic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatRemark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatRemark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatAuditingInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatAuditingInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatPrintInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatPrintInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatResultInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatResultInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatStandBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatStandBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatBarFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatBarFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatRepeatCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatRepeatCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatSerumFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatSerumFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatProfileItems)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatProfileItems)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackStr1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackStr1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackStr2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackStr2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackInt1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackInt1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackInt2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackInt2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatSendingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatSendingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatReportTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatReportTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatSamplingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatSamplingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatSamplingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatSamplingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SsmaTimeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SsmaTimeStamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PatId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
